
○  (Static)   prerendered as static content
●  (SSG)      prerendered as static HTML (uses generateStaticParams)
ƒ  (Dynamic)  server-rendered on demand
Traced Next.js server files in: 95.798ms
Created all serverless functions in: 99.668ms
Collected static files (public/, static/, .next/static): 3.487ms
Build Completed in /vercel/output [34s]
Vulnerable version of Next.js detected, please update immediately.